.first {
  margin-top: 5%;
}
.container-form {
   width: 60%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: flex-end;

}
.example-card {
  max-width: 400px;
}

.example-header-image {
 /*Image esta vindo no NgStyle no component Html*/
  background-size: cover;
}
