
<div class="row first">
  <div class="col"></div>
  <div class="col-12">
    <div class="container container-form">
      <mat-card class="example-card">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            [ngStyle]="{
              'background-image': 'url(' + (this.localAvatar$ | async) + ')'
            }"
          ></div>
        </mat-card-header>
        <img
          mat-card-image
          src="./../../../assets/Background/login_Background.png"
          alt="img from  outSystem tecnologic"
        />
        <mat-card-content>
          <mat-card-title style="color: rgb(0, 0, 0); text-align: center"
            >Pls go to Gmail Login</mat-card-title
          >

        </mat-card-content>
        <mat-card-actions>
          <button mat-button style="color: rgb(10, 10, 10)" (click)="goToGmail()">
            <mat-icon aria-hidden="false" fontIcon="alternate_email"></mat-icon>Gmail
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col"></div>
</div>

<!-- <span class="material-symbols-outlined">
alternate_email
</span> -->
