<header>
   <!-- <mat-tab-group fitInkBarToContent color="aliceblue">
    <mat-tab label="OutSystems" [disabled]="!isAutentication$" color="aliceblue"></mat-tab>
    <mat-tab label="DataBases" [disabled]="!isAutentication$" color="aliceblue"></mat-tab>

    <mat-tab label="About" color="aliceblue"></mat-tab>
  </mat-tab-group> -->
  <!-- <mat-tab-group fitInkBarToContent color="aliceblue">
    <mat-tab label="OutSystems" [disabled]="!isAutentication$" color="aliceblue" ngClass="'custom-tab-label'"></mat-tab>
    <mat-tab label="DataBases" [disabled]="!isAutentication$" color="aliceblue" ngClass="'custom-tab-label'"></mat-tab>
    <mat-tab label="About" color="aliceblue" [ngClass]="'custom-tab-label'"></mat-tab>
  </mat-tab-group> -->

  <!-- -------------Obs: O Css do cor da fonte esta sendo aplicado no CSS Pai de todos -------------->
  <mat-tab-group fitInkBarToContent>
    <mat-tab label="OutSystems" [disabled]="!isAutentication$"  class="custom-tab-label" routerLink="/authentication"></mat-tab>
    <mat-tab label="DataBases" [disabled]="!isAutentication$"  class="custom-tab-label"></mat-tab>
    <mat-tab label="About"  class="custom-tab-label"></mat-tab>
  </mat-tab-group>


</header>
