

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  margin: 0 auto;
  padding: 0%;
  bottom: 0;
  background: linear-gradient(68.15deg, #09031f 14.62%, #f10e0e 85.61%);
  color: aliceblue;

}


span {
  font-size: 1.5vh;
}
a {
  color: aliceblue !important;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 0.6em;
  font-weight: bold;
  line-height: 0.3em;
  text-shadow: 2px 4px 5px #eee, 0 0 1px rgb(49, 46, 46);
  letter-spacing: 1px;
  word-spacing: 2px;
}

a:hover {
  color: #f0b686 !important;
}

