


main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  margin: 0 auto;
  padding: 0%;
  bottom: 0;
  background: linear-gradient(68.15deg, #09031f 14.62%, #f10e0e 85.61%);
  color: aliceblue;

}
