
span {
  /* margin: 0 0 0.5% 0; */
  font-size: 2.5vh;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  background-image: url('./../assets/Background/01_OutSystem.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */

}

.bg-body-tertiary {
  max-height: 5vh;
  margin: 0;
  background: linear-gradient(68.15deg, #09031f 14.62%, #f10e0e 85.61%);

}

.navbar-brand {
  color: #ffffff;
  font-family: Arial, sans-serif;

}



